<br/>

<mat-form-field>
    <mat-label>From</mat-label>
    <input matInput [matDatepicker]="picker1"
          (dateChange)="CalendarEvent01('change', $event)">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>

<mat-form-field>
    <mat-label>To</mat-label>
    <input matInput [matDatepicker]="picker2"
           (dateChange)="CalendarEvent02('change', $event)">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>

<button (click) = thisFunction()>Check</button>

<div>
  <canvas id="linechart"></canvas>
</div>
