<br/>

<span>&nbsp;</span>
<mat-form-field>
  <mat-label>Date</mat-label>
  <input matInput [min]="MinDate" [matDatepicker]="picker1"
         (dateInput)="CalendarEvent('input', $event)" (dateChange)="CalendarEvent('change', $event)">
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>

<button (click) = OnCheck()>Check</button>

<div class="example-events">
  <div *ngFor="let e of events">{{e}}</div>
</div>

<div>
    <canvas id="linechart02"></canvas>
</div>
