<br/>

<mat-form-field>
  <mat-label>From</mat-label>
  <input matInput [matDatepicker]="picker1"
         (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <mat-label>To</mat-label>
  <input matInput [matDatepicker]="picker2"
         (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>

<div class="example-events">
  <div *ngFor="let e of events">{{e}}</div>
</div>

<div>
    <canvas id="linechart"></canvas>
</div>
  
<div>
    <p>Hello</p>
</div>
